(ns {{top/ns}}.{{main/ns}}
  (:require
    [org.httpkit.server :as server]
    [hiccup2.core :as h]{{requires}}
    ))

(defn html-response [body]
  {:status 200
   :headers {"content-type" "text/html"}
   :body (str (h/html body))})
{{code-snippets}}
(defn home-page [req]
  [:div
   [:h1 "Welcome to application.garden"]{{home-page-fragments}}
   ])

(defn app [{:as req :keys [uri]}]
  (case uri
    "/" (html-response (home-page req)){{extra-routes}}

    {:status 404 :body "not found"}))

(def wrapped-app
  (-> #'app
      ;; add middleware here{{ring-middleware}}
      ))

(defn start! [opts]
  (let [server (server/run-server #'wrapped-app (merge {:legacy-return-value? false
                                                        :host "0.0.0.0"
                                                        :port 7777}
                                                       opts))]
    (println (format "server started on port %s" (server/server-port server)))))
