{:data-fn garden.template/data-fn
 :post-process-fn garden.template/post-process-fn
 :transform
 [["build" ""
   {"deps.tmpl" "deps.edn"}
   :only]
  ["src" "src/{{top/file}}"
   {"main.tmpl" "{{main/file}}.clj"}]]}
